/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

@font-face { 
  font-family: 'hyperspace'; 
  src: url('../fonts/hyperspace/Hyperspace.otf');
} 
